.about__desc{
    width:90%;
    margin:0 auto;
    color:#fff;
    display:flex;
    flex-direction:column;
    gap:1em;
    margin-top: 5em;
    line-height:1.6;
    
    
}
.about__desc h2{
    font-size:5em;
    color:#c65d00;
   
}
.about__desc p{
    font-size:2em;
    
}
.about__parallax{
    background-image: url("../../images/about__team.jpg");
    height: 80vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top:2em;
}
.about__parallax2{
    background-image: url("../../images/natur_window.jpg");
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin:5em 0 7em 0;
}
.about__smart{
    max-width:1100px;
    margin:5em auto;
    height:80vh;
    display:flex;
    align-items:flex-end;
   

    
}
.about__smart span{
    font-size:4.2em;
    font-weight:bold;
    color:#c65d00;

    
    
}
.about__value{
    display:grid;
    grid-template-columns: 1fr 1fr;
    max-width:95%;
    align-items:center;
    margin:5em auto;
    gap:2em;
   

}
.about__value:nth-of-type(2) .about__value__desc{
    grid-column-start: 1;
    grid-row-start: 1;
    
}
.about__value:nth-of-type(2) .about__value__image{
    grid-column-start: 2;
    
}
.about__value__desc h2{
    font-size:3em;
    color:#c65d00;
    margin-bottom:2em;
}
.about__value__image img{
    width:95%;
    
}

/*=====================================Media Queries=======================*/
@media screen and (max-width:1200px){

.about__value__desc h2{
    font-size:2.5em;
}
.about__value__desc p , .about__desc p{
    font-size:1.6em;
}
.about__smart{
    width:65%;
    
}
.about__smart span{
    font-size:3.6em;
}
}

@media screen and (max-width:910px){
.about__value__desc h2{
    font-size:2em;
}
.about__value__desc p , .about__desc p{
    font-size:1.2em;
}
.about__smart span{
    font-size:3em;
}
.about__smart{
    height:100%;
    width:80%;
}
.about__value__image img{
    width:100%;
}
}
@media screen and (max-width:700px){
    .about__desc{
        width:98%;
    }
    .about__value__desc p , .about__desc p{
        font-size:1em;
    }
    .about__value{
        gap:10px;
    }
    .about__desc h2{
        font-size:3em;
    }
    .about__value__desc h2{
        font-size:1.6em;
    }

    .about__smart span{
        font-size:2.5em;
    }
}
@media screen and (max-width:500px){
    .about__value__desc h2 {
        font-size: 2em;
        line-height: 1.3;
        margin-bottom:1em;
    }
    .about__value{
        display:flex;
        flex-direction: column;
        width:90%;
        gap:30px;
    }
    .about__smart{
        width: 98%;
        margin:0 auto;
    }
    .about__smart span {
        font-size: 2.2em;
        height: 88%;

}
.about__value__desc p, .about__desc p{
    font-size:1.2em;
}
}

@media screen and (max-width:400px){
    .about__value__desc h2{
        font-size:1.6em;
    }
    .about__value__desc p, .about__desc p {
        font-size:1em;
    }
.about__desc{
width:98%;
}
.about__smart span {
    font-size: 1.9em;
}
}