.projects__container{
  
  height: auto;
  width: 100vw;
  margin: 0 auto;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  color:#fff;
  justify-content: center;
  height:100%;
  align-items:center;
  
}

.projects__col__left  {
margin:2em 2em;
}
.projects__col__right{
  display: flex;
  align-items: center;
}


.projects__col__left h1{
    color:#c65d00;;
    font-family: 'Playfair Display', serif;
    font-size:5em;
    margin-bottom:1em;
}
.projects__col__left p{
    font-size:2.5em;
    
}


.more__btn {
  appearance: none;
  border-width: 0;
  box-sizing: border-box;
  background:black;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Clarkson,Helvetica,sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 1.5em 2.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  margin-top:2em;
  font-weight:bold;
  border:1px solid silver;

}

.more__btn:before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: #ebebeb81;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
}

.more__btn:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
  
}

.more__btn:after {
  background-color: #ffffff4f;
  
  
  
}

.more__btn span {
  z-index: 1;
  position: relative;
}

.swiper {
 
  width: 100vh;
  height: 50vh;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  transition:0.5s ease-in-out;
}
.swiper-button-prev, .swiper-rtl .swiper-button-next , .swiper-button-next, .swiper-rtl .swiper-button-prev{
  color:#fff!important;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  background:#fff;
}


.project__landing:nth-child(1n) {
  background-image: url("../../images/gallery1.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project__landing:nth-child(2n) {
  background-image: url("../../images/gallery2.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project__landing:nth-child(3n) {
  background-image: url("../../images/gallery3.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project__landing:nth-child(4n) {
  background-image: url("../../images/gallery10.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project__landing:nth-child(5n) {
  background-image: url("../../images/gallery5.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project__landing:nth-child(6n) {
  background-image: url("../../images/gallery9.webp");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.project__landing:nth-child(7n) {
  background-image: url("../../images/gallery7.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project__landing:nth-child(8n) {
  background-image: url("../../images/gallery8.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project__landing:nth-child(9n) {
  background-image: url("../../images/gallery11.webp");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}


@media screen and (max-width:1370px){
  .projects__container{
    grid-template-columns: 50% 50%;
    margin:0;
  }
  
  .projects__col__left h1{
    font-size:3em;
  }
  .projects__col__left p{
    font-size:1.8em;
  }
  
  }
  @media screen and (max-width:700px){
  .projects__col__left {
    margin: 2em 0.5em;
  }
  .projects__col__left h1{
    font-size:2.4em;
  }
  .projects__col__left p{
    font-size:1.4em;
  }
}
@media screen and (max-width:500px){
  .projects__container{
    display:flex;
    flex-direction: column;
    height:100vh;
  }
  .projects__col__left h1{
    text-align:center;
    font-size: 3em;
  }
  .projects__col__left{
    margin:0 0.5em 1em 0.5em;
  }
  .more__btn{
    margin:2em auto;
    display:flex;
    align-items:center;
  }
}

